@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500&family=Outfit:wght@700&display=swap');

body {
    font-size: 14px; 
    text-align: center;
    /*color: hsl(228, 45%, 44%);*/
    background-color: hsl(30, 38%, 92%);
}

.box {
    width: 720px;
    height: 540px;
    margin: 15rem auto;
    text-align: left;
    border-radius: 15px;
}
.img1 {
    display: block;
    width: 360px;
    height: 540px;
    float: left;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.img2 {
    display: none;
}
.text {
    background-color: hsl(0, 0%, 100%);
    display: block;
    width: 360px;
    height: 540px;
    float: right;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.straight-text {
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #94969b;
    margin: 1.8rem 2.5rem;
    font-size: 1.05rem;
    line-height: 180%;
}
.curly-text {
    font-family: 'Fraunces', serif;
    margin: 0 2.5rem;
    font-size: 2.5rem;
    line-height: 100%;
}
.price {
    color: #3d8168;
}
.prev-price {
    font-family: 'Montserrat', sans-serif;
    color: #94969b;
    display: block;
    float: right;
    font-size: 1rem;
    margin-right: 2rem;
    text-decoration: line-through;
}
.button {
    margin: 1.8rem 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #3d8168;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    width: 17rem;
    color: white;
    display: flex;
    align-items: center;
}
.icon {
    padding-right: 0.75rem;
    margin-left: 3.5rem;
}
.button:hover {
    background-color: #1f2f0a;
}

@media all and (max-width: 500px) {
    .box {
        width: 360px;
        height: 540px;
        margin: auto auto;
        text-align: left;
        border-radius: 15px;
    }
    .img1 {
        display: none;
    }
    .img2 {
        display: block;
        max-width: 100%;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        margin: auto auto;
        margin-top: 2rem;
    }
    .text {
        background-color: hsl(0, 0%, 100%);
        display: block;
        max-width: 360px;
        height: 460px;
        float: right;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 0%;
        margin-bottom: 3rem;
    }
    .straight-text {
        display: block;
        font-family: 'Montserrat', sans-serif;
        color: #94969b;
        margin: 1.5rem 2rem;
        font-size: 1.05rem;
        line-height: 180%;
    }
    .curly-text {
        font-family: 'Fraunces', serif;
        margin: 0 2rem;
        font-size: 2rem;
        line-height: 100%;
    }
    footer {
        display: none;
    }
}